.TodoList input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
    outline: none;
}

.TodoList button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0D080C;
    color: #FFF;
    border: 2px solid #0D080C;
    outline: none;
}

.TodoList button:hover {
    background-color: #212622;
    border: 2px solid #212622;
    cursor: pointer;
}