.Input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgb(202, 202, 202);
    width: 165px;
    outline: none;
    background-color: rgb(202, 202, 202);
}

.Button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: rgb(202, 202, 202);
    border: 2px solid rgb(202, 202, 202);
    outline: none;
}

.Button:hover {
    background-color: #212622;
    border: 2px solid #212622;
    cursor: pointer;
}